ul {
  list-style-type: none;
}
ol,ul{
  word-wrap: break-word;
}

/* clientSearchCssStart */
#clientSearch { 
  visibility: visible;
  position: relative;
  /* left: 10px;
  top: 230px; */
  /* width: 300px; */
  height: 40px;
  margin-top: 10px;
}      

#clientSearch input { 
  padding: 4px 10px;
  width: 100%;
  /* height: 31px; */
  font-size: 1.6em;
  color: #aaa;
  font-weight: bold;
  background-color: #000;
  border-radius: 3px 3px 0px 0px;
  border: none;
  outline: none;
  text-align: left;
  display: inline-block;
}

#searchResults li { 
  list-style: none; 
  margin-left: 0em;
  background-color: #333; 
  border-bottom: 1px dotted #000;
}
#searchResults li .title { 
  font-size: 1.1em; 
  /* margin-bottom: 10px;  */
  display: inline-block;
}
#searchResults { 
  visibility: inherit; 
  /* display: inline-block;  */
  width: 100%;
  margin: 0;
  position: absolute;
  z-index: 1000;
}
#searchResults a { 
  text-decoration: none !important; 
  padding: 10px; 
  width:100%;
  display: inline-block; 
  margin: auto;
  outline: transparent;
}
#searchResults a:hover, a:focus { 
  /* outline: 0;  */
  background-color: #666; 
  color: #fff; 
}

@media only screen and (max-width: 720px) {
  #clientSearch{
    position: unset;
    width: 80vw;
    margin:auto;
  }
  #searchResults{
    width: 80vw;
  }

}
/* clientSearchCssEnd */
